# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
venv/
backend/venv/

# Environment files
.env
*.env

# Node.js
node_modules/
package-lock.json

# Editor settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store

__pycache__/
*.pyc

backend/test_register.py
#env file

.env

