body {
    background-color: #FDFD96;
}

button {
    cursor: pointer;
    padding: 10px;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    width: 60%;
}

.tutorial {
    padding: 40px;
    width: 100%;
}

.tutorial-btn {
    background: #B3EBF2;
    border: none;
    width: 100%;
    text-align: start;
    font-size: 48px;
}

.category-select {
    padding: 40px;
    width: 100%;
}

.category-select-btn {
    background: #77DD77;
    border: none;
    width: 100%;
    text-align: start;
    font-size: 48px;
}

.history {
    padding: 40px;
    width: 100%;
}

.history-btn {
    background:#FFD1DC;
    border: none;
    width: 100%;
    text-align: start;
    font-size: 48px;
}