body {
    background-color: #FDFD96;
    display: flex;
    justify-content: starts;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}


/*Centers the Final Score ~ 1/4 from the Top */
.finalScore {
    margin-top: 25vh;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
    font-size: 64px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


/* Table Styling */
.score-table {
    margin-top: 30px;
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    outline: 4px solid black; 
    border-radius: 15px; /

}

th {
    background-color: white;
    font-size: 36px;
}

td {
    background-color: #D3D3D3;
    font-size: 36px;
}


/* For Button */
#returnHome {
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: lightblue;
    color: orangered;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Return to the original position */
    }
}

.score-table {
    animation: float 2s ease-in-out infinite; 
}