body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fdf6e3;
  padding-top: 70px;
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  padding: 10px 20px;
  background: #1abc9c;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-left {
  font-weight: bold;
}

.header-right a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-right a:hover {
  color: red;
}

.header-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3%;
  margin: auto;
  background: #1abc9c;
}

.history-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.history-container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}

.history-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Back Button Styling */
#backButton {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  align-self: flex-start;
  margin-bottom: 20px;
  background-color: #1abc9c;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0px 30px;
}
#backButton:hover {
  outline: 4px solid black;
  transform: scale(1.05);
}

.card {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 20px;
  color: #1abc9c;
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.dark-mode .header,
.dark-mode .header-card {
  background-color: #333;
}
