body {
    background-color: #FDFD96;
}

h1 {
    margin-top: 25vh;
    font-size: 64px;
    text-shadow: 1px 1px 2px blue;
}

/* UL Styling (Manipulates Spacing for Categories) */
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 24px;
}

/* Main Container Styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px; /* Add padding inside the box */
    outline: 4px solid black; /* White border around the categories */
    border-radius: 15px; /* Optional: rounded corners for the white box */
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    gap: 24px; 
}

button {
    background: #E34234;
    border: none;
    color: white;
    padding: 80px;
    white-space: nowrap;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, border 0.3s ease;
    will-change: transform;
    position: relative;
    flex-shrink: 0; 
    transform-origin: center; 
}

/* Hover Effect */
button:hover {
    outline: 4px solid green;
    transform: scale(1.05);
}


